<h2>User Preference</h2>

<%= form_tag("/workouts", method: "post") do %>

<div>
  <h3><%= label_tag(:bio) %></h3>
  <h3><%= text_field_tag(:bio) %></h3>
</div>
<div>
  <h3><%= submit_tag("Submit") %></h3>
</div>
<% end %>
