<div class=border-favorite-form>
<center><h3>Followers</h3></center>
<% @user.followers.each do |person| %>
  <ul>
      <li><h4><%= link_to "#{person.user_name}", "/users/#{person.id}" %></h4></li>
  </ul>
<% end %>
</div>
