<h3>Here is the Welcome Page</h3>

<h4><%= link_to("Sign Up", new_user_registration_path) %></h4>
<h4><%= link_to "Login", new_user_session_path %></h4>

<h3>Welcome to my website. Users will first see this page and will have the choice to log in or sign out</h3>

<h4>About page</h4>
<h4>Sign in</h4>
<h4>Register</h4>
<h4>Background format feature</h4>
